* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	padding: 100px;
	-webkit-font-smoothing: antialiased;
}
h2, h3, h4 {
	font-weight: normal;
}
h1, h2, h3, h4, p, form {
	margin: 0 0 15px 0;
}
textarea, .emoji-wysiwyg-editor {
	width: 100%;
	height: 100px;
	border: 1px solid #d0d0d0;
	padding: 15px;
	font-size: 13px;
	font-family: Helvetica, arial, sans-serif;
	font-weight: normal;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.example {
	position: relative;
}
.value {
	background: #f8f8f8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	border-radius: 3px;
	padding: 15px;
}